# chip/Kconfig

config CHIP_QEMU_VIRT_ARM
    bool
    select ARCH_ARM

config CHIP_QEMU_VIRT_AARCH64
    bool
    select ARCH_ARM64

config CHIP_QEMU_VIRT_RV32
    bool
    select ARCH_RISCV

config CHIP_QEMU_VIRT_RV64
    bool
    select ARCH_RISCV

config 64BIT
    bool
    default y if CHIP_QEMU_VIRT_RV64 || CHIP_QEMU_VIRT_ARM64
    default n

# chip/Kconfig (at the bottom)

config CHIP_DIR
    string
    default "qemu/virt_riscv64" if CHIP_QEMU_VIRT_RV64
    default "qemu/virt_riscv32" if CHIP_QEMU_VIRT_RV32
    default "qemu/virt_aarch64" if CHIP_QEMU_VIRT_AARCH64
    default "qemu/virt_arm" if CHIP_QEMU_VIRT_ARM

