# QemuRTOS / Top-Level Kconfig

mainmenu "QemuRTOS Configuration"

source "boards/Kconfig"
source "chip/Kconfig"
source "arch/Kconfig"

# We will source these later as we build them
# source "kernel/Kconfig"
# source "drivers/Kconfig"