# boards/Kconfig

choice
    prompt "Select Target Board"
    default BOARD_QEMU_VIRT_RV64

config BOARD_QEMU_VIRT_ARM
    bool "QEMU ARM 32-bit Virt Board"
    select CHIP_QEMU_VIRT_ARM
    select SERIAL_PL011
    help

config BOARD_QEMU_VIRT_AARCH64
    bool "QEMU ARM 64-bit Virt Board"
    select CHIP_QEMU_VIRT_AARCH64
    select SERIAL_PL011
    help

config BOARD_QEMU_VIRT_RV32
    bool "QEMU RISC-V 32-bit Virt Board"
    select CHIP_QEMU_VIRT_RV32
    select SERIAL_NS16550


config BOARD_QEMU_VIRT_RV64
    bool "QEMU RISC-V 64-bit Virt Board"
    select CHIP_QEMU_VIRT_RV64
    select SERIAL_NS16550

endchoice

config BOARD_DIR
    string
    default "riscv/qemu_virt_rv64gc" if BOARD_QEMU_VIRT_RV64
    default "riscv/qemu_virt_rv32gc" if BOARD_QEMU_VIRT_RV32
    default "arm/qemu_virt_aarch64" if BOARD_QEMU_VIRT_AARCH64
    default "arm/qemu_virt_arm" if BOARD_QEMU_VIRT_ARM



menu "Device Tree Architecture"

choice
    prompt "Device Tree Parsing Strategy"
    default DTB_DYNAMIC

config DTB_DYNAMIC
    bool "Dynamic Runtime Parsing (Linux-style libfdt)"
    help
      Embeds libfdt. The OS will parse the binary .dtb in RAM during 
      early boot. Best for flexibility and learning Linux internals.

config DTB_STATIC
    bool "Static Compile-Time Macros (Zephyr-style)"
    help
      Relies on hardcoded C macros defined at compile time. 
      Zero runtime RAM/CPU overhead. Best for tiny microcontrollers.

endchoice

endmenu


